* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap"); */

.login-container {
    min-height: calc(95vh - 80px);
    overflow: hidden;
    background: rgb(194, 229, 247);
}

.login-header h2 {
    font-size: 31px;
    text-justify: inter-word;
}

.login-header p {
    font-size: 21px;
    color: #a0a0a0;
}

.form-group {
    width: 400px !important;
}

.login-wrapper {
    border-radius: 10px;
    background-color: white;
}

label:not(.checkboxLabel) {
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
    border-radius: 100px;
    border-bottom: 1px solid black;
  }

input[type=text],
input[type=password] {
  border: 1px solid black;
  height: 50px;
  padding: 0 2rem;
  width: 100%;
  font-size: 18px;
  border-radius: 100px;
  background: rgb(194, 229, 247);
}

button {
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 100px !important;
    width: 80%;
    text-align: center;
    text-transform: uppercase !important;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    cursor: pointer;
    background: rgb(111, 197, 244);
    transition: .5s ease-in-out;
  }

button:hover {
    background: rgb(17, 162, 241);
}

